:root{
    --theme:#5760E0;
}
*{    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
:root{
    scroll-behavior: smooth;
}
body{
    width:100%;
}
a{
    text-decoration: none;
    color:black;
}#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background:white;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--theme);
    font-size:30px;
}
#loader h3{
    margin:2px;
    text-transform: capitalize;
}

.color{
    color: var(--theme);
}.btn {
    font-size: 20px; background-color:var(--theme);
    padding: 8px 10px;
    border: 2px solid var(--theme);
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 10px 4px; /* Here is the margin property */
}
.dark{
    background: #161727;
    color:white;
}.a-dark{
    color:white;
}
.light{
    background: white ;
    color:black;
}
.btn:hover{
    background:transparent
    color:var(--theme);
}.home{
    /* height: 100vh; */
    width: 100%;
}
.nav{
    /* margin: 5px 0; */
    height: 60px;
    display: flex;
    padding: 36px 100px;
    align-items: center;
    justify-content: space-between;
}
#dropDown{
    font-size: 30px;
}
.hide{
    display:none;
}
.logo{
    font-size: 30px;
    font-weight: 700;
}
.nav-right{
    display: flex;
    align-items: center;
}
#themeBtn{
    margin:0 20px;
}
#themeBtn:hover{
    color:var(--theme);
}
.list ul a{
    padding: 0px 15px;
    font-size: 15px;
}
.list ul a:hover{
    color:var(--theme);
}
.main{
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
}
.left{
width: 350px;
}
.left h1{
    font-size: 3.4vw;
    font-weight: 600;
    line-height: 3.4vw;
}

.myAbout{
    font-size: 16px;
    color: #666;
}.myAbout-dark{
    color:#c1baba;
}
.social{
    margin:30px 0 0 0  ;
}
.social i{
    color:var(--theme);
    padding:4px;
    font-size:30px;
    margin:0 4px;
    border-radius:50%;
    border:2px solid  var(--theme);
    
}
.social i:hover{
    background:var(--theme);
    color:white;
}
.right img{
    width: 270px;
    border-radius: 83% 100% 88% 83%;
    height: 270px;
}
#about{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@media (max-width:900px) {.btn{
        padding:10px;
    }
    .nav{
        padding: 5px 35px;
        background:var(--theme);
        color: white;
    }
    .list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 80px;
        left: 0;
        padding-bottom: 20px;
      }
    .hide{
        display:block;
    }
    .main{
        flex-direction: column-reverse;
        height:auto;
        padding:40px 0;
        height: 90vh;
    }
    .left{
        width:100%;
        padding: 0 40px;
    }
    .left h1{
        font-size:40px;
        line-height:40px
    }
}